* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #222;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav-container {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0.75rem 2rem;
  position: fixed;
  z-index: 1;
}

.li-items {
  display: flex;
  align-items: center;
  gap: 20px;
  color: black;
  font-weight: 500;
  letter-spacing: 2px;
}

.logo {
  padding: 7px 50px;
  margin-left: 60px;
}

.hero-container {
  background: url("./assets/defaultBcg2.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 3rem 7.5rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 3px;
}

.banner > h1 {
  font-size: 3rem;
}

.banner div {
  width: 10rem;
  height: 5px;
  background: #af9a7d;
  margin: 1.7rem auto;
}

.banner > p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 3px;
  color: #222;
  background: #af9a7d;
  cursor: pointer;
  padding: 0.7rem 1.7rem;
  transition: all 0.3s linear;
  text-transform: uppercase;
  border: 3px solid #af9a7d;
}

.btn-primary:hover {
  background-color: transparent;
  color: #af9a7d;
}
